CplusplusTraits.opensdf
CplusplusTraits.sdf
CplusplusTraits.v12.suo
CplusplusTraits/Debug/CplusplusTraits.log
CplusplusTraits/Debug/CplusplusTraits.tlog/cl.command.1.tlog
CplusplusTraits/Debug/CplusplusTraits.tlog/CL.read.1.tlog
CplusplusTraits/Debug/CplusplusTraits.tlog/CL.write.1.tlog
CplusplusTraits/Debug/CplusplusTraits.tlog/CplusplusTraits.lastbuildstate
CplusplusTraits/Debug/CplusplusTraits.tlog/link.command.1.tlog
CplusplusTraits/Debug/CplusplusTraits.tlog/link.read.1.tlog
CplusplusTraits/Debug/CplusplusTraits.tlog/link.write.1.tlog
CplusplusTraits/Debug/objectTest.obj
CplusplusTraits/Debug/vc120.idb
CplusplusTraits/Debug/vc120.pdb
CplusplusTraits/Debug/XMObjectPool.obj
CplusplusTraits/Debug/XMTimer.obj
Debug/CplusplusTraits.exe
Debug/CplusplusTraits.ilk
Debug/CplusplusTraits.pdb